<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gca.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <gca.Settings>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsLaunched" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastRun" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCaptchaSolved" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCaptchaFailed" serializeAs="String">
                <value />
            </setting>
            <setting name="CaptchasSolved" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastStatusSave" serializeAs="String">
                <value />
            </setting>
            <setting name="LastStatusTry" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusEnable" serializeAs="String">
                <value />
            </setting>
        </gca.Settings>
    </userSettings>
</configuration>